extends layout

block content
  h1 Course: #{course.name}

  .pull-right
    a.btn.btn-primary(href="#") fork

  p #{course.description}

  h2
    a.btn.pull-right(href="#") add &raquo;
    a(href="/classes/#{class._id}/slides") (count here) Slides

  h2
    a(href="/classes/#{class._id}/code") Code

  a.btn.btn-primary.pull-right fork