extends layout

block content
  a.btn.pull-right(href="/courses/new") Create &raquo;
  h1 Available Courses

  ul
  - for course in courses
    li
      a(href="/courses/#{course._id}") #{course.name}