extend layout

block content
  h1 Create New Course

  .row
    .span6
      form(action="/courses", method="POST")
        label(for="name") Name
        input(type="text", name="name")

        label(for="description") Description
        input(type="text", name="description")


        label(for="courseType") Class Type
        p.alert.alert-info This defines the types of resources that are made available to your class.
        t Computer Science
        input(type="radio", name="courseType", value="cs")


        input.btn.btn-primary.pull-right(type="submit", value="Create &raquo;")