extends layout

block content

  if (typeof(user) != 'undefined')
    h2 Welcome, #{user.username}!
   
    a(href="/courses") List courses
  else
    .hero-unit
      .titleimg
        img(src="/img/coursefork-brand.png")

      a.pull-right.btn.btn-large.btn-primary(href="/auth/github", style="margin-bottom: 0em; margin-top:3em;") Get Started &raquo;

      p(style="font-size: 1.5em; margin-top:2em; margin-left: 2em;") Build better classes, faster; <em>together</em>.

      br(style="clear:both;")

    .row-fluid.pitches(style="margin-top: -1em; margin-bottom: 3em;")

      .span4
        h3 Stop Starting From Scratch.
        img(src="/img/bulb200px.png")
        p Browse the world's best courses for inspiration, ideas, and content.
        br  
        a.btn.pull-right.btn-primary(href="#") Watch a Video &raquo;

      .span4
        h3 Publish to the Web.
        img(src="/img/out200px.png")
        p Get your course materials out there where your students can see them, using our site or yours.
        a.btn.pull-right.btn-primary(href="#") Learn More &raquo;


      .span4
        h3 Get Credit for Your Work.
        img(src="/img/wreath200px.png")
        p Show off your teaching expertise and build a public portfolio of courses you've contributed to.
        a.btn.pull-right.btn-primary(href="#") How Coursefork Improves Your CV &raquo;

