extends layout

block content

  if (typeof(user) != 'undefined')
    h2 Welcome, #{user.username}!

  else
    .hero-unit
      .titleimg
        img(src="/img/cflogo700px.png")
    p(style="text-align:center")
      a.btn.btn-large.btn-primary(href="/auth/github") Get Started &raquo;

    .row-fluid(style="margin-top: 3em; margin-bottom: 3em;")

      .span4
        h3 Stop Starting From Scratch
        .spanimg
          img(src="/img/bulb200px.png")
        p Browse the world's best courses for inspiration, ideas, and content.

      .span4
        h3 Publish the the Web
        .spanimg
          img(src="/img/out200px.png")
        p Get your course materials out there where your students can see them, using our site or yours.

      .span4
        h3 Get Credit for Your Work
        .spanimg        
          img(src="/img/wreath200px.png")
        p Show off your teaching expertise and build a public portfolio of courses you've contributed to.

