extends layout

block content

  if (typeof(user) != 'undefined')
    h2 Welcome, #{user.username}!
   
    a(href="/courses") List courses
  else
    .hero-unit
      .titleimg
        img(src="/img/cflogo700px.png")
        a.btn(href="/auth/github") Get Started &raquo;

    .row-fluid(style="margin-top: 3em; margin-bottom: 3em;")

      .span4
        h3 Stop Starting From Scratch
        .spanimg
          img(src="/img/bulb200px.png")
        p Browse the world's best courses for inspiration, ideas, and content.

      .span4
        h3 Get Credit for Your Work
        .spanimg        
          img(src="/img/wreath200px.png")
        p Show off your teaching expertise and build a public portfolio of courses you've contributed to.

      .span4
        h3 Teaching, Front & Center
        .spanimg
          img(src="/img/Award200px.png")
        p We believe that Teachers are the future of education.  Coursefork lets you get into the classroom faster with better content.

    .row-fluid(style="margin-top: 3em; margin-bottom: 3em;")

      .span4
        h3 Unlimited Open Courses
        .spanimg
          img(src="/img/new200px.png")
        p Create as many open courses as you like.  Anyone can copy a course by forking it.

      .span4
        h3 Publish to the Web
        .spanimg
          img(src="/img/out200px.png")
        p Get your course materials out there where your students can see them, using our site or yours.

      .span4
        .spanimg
          img(src="/img/courseforkonly200px.png")
          center(style="height: 100px")
            a.btn.btn-large(href="/auth/github") Get Started &raquo;
